//===================================fontawesome================================//
@font-face {
	font-family: "font-awesome";
	font-style: normal;
	font-weight: 500;
	src: url("../../libs/font-awesome/fonts/fontawesome-webfont.svg"),
	url("../../libs/font-awesome/fonts/fontawesome-webfont.woff2"),
	url("../../libs/font-awesome/fonts/fontawesome-webfont.eot"),
	url("../../libs/font-awesome/fonts/FontAwesome.otf"),
	url("../../libs/font-awesome/fonts/fontawesome-webfont.ttf"),
	url("../../libs/font-awesome/fonts/fontawesome-webfont.woff");
}