$primary_font: "Oswald", sans-serif;
$secondary_font: "Raleway", sans-serif;
$head_font: "Open Sans", sans-serif;
$Lora: "Lora", sans-serif;

$primary_font_color: #9b9999;
$secondary_font_color: #ffffff;
$nav_font_color: #000000;
$p_font_color: #585858;
$head_font_color: #222222;
$site_color: #ffaf36;
$primary_head_color: #1c1c1c;

$fa-font-path: "libs/font-awesome/fonts";
@import "fonts";


